{% load static %}
<!DOCTYPE HTML>
<!--
	Snapshot by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Gallery - Snapshot by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{% static './gotrip/css/main.css' %}" />
	</head>
	<body>
		<div class="page-wrap">

			<!-- Nav -->
				<nav id="nav">
					<ul>
						<li><a href="{% url 'home' %}"><span class="icon fa-home"></span></a></li>
						<li><a href="{% url 'home' %}"><span class="icon fa-file-text-o"></span></a></li>						
						<li><a href="{% url 'home' %}" class="active"><span class="icon fa-camera-retro"></span></a></li>

					</ul>
				</nav>

			<!-- Main -->
				<section id="main">

					<!-- Header -->
						<header id="header">
                            <div><center><h3><font face='나눔고딕'># {{festa.title}}</font></h3></center></div>
						</header>

					<!-- Gallery -->
						<section id="galleries">

							<!-- Photo Galleries -->
								<div class="gallery">

									<!-- Filters -->
										<header>
                                            <h3><font face='나눔고딕'>Information</font></h3>
                                            <div id="pic">
											<a href=""><img src="{% static festa.img %}" alt="" title="This right here is a caption."  width=70% height=50%/></a>
                                                
									<div class="social column">
                                        <h3><font face='나눔고딕'></font>#{{festa.title}}</h3>
                                        <font face='나눔고딕'>
                                            <p>{{festa.content}}</p>
                                        </font>
								</div>
										  </div>
										</header>
										</div>
							
						</section>

						<section id="contact">
                                <div><img src="{% static './gotrip/images/thumbs/insta.png' %}" width=30%></div>
                                <div class="feed">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td><a href="https://www.instagram.com/p/B49_TW0gjj4/" target="_blank"><img src="https://scontent-icn1-1.cdninstagram.com/v/t51.2885-15/sh0.08/e35/p640x640/73211334_2877835695601616_1176394848913998999_n.jpg?_nc_ht=scontent-icn1-1.cdninstagram.com&_nc_cat=108&oh=87d357771abf846fa3312c5cfe65d074&oe=5E4B187E"></a></td>
                                                <td><a href="https://www.instagram.com/p/B5AiP0AJYTY/"><img src="https://scontent-icn1-1.cdninstagram.com/v/t51.2885-15/e35/78739935_2675989672489135_5613727043704725349_n.jpg?_nc_ht=scontent-icn1-1.cdninstagram.com&_nc_cat=107&oh=c86f49c9571bdea3693f785f946b0408&oe=5E8AB5D1"></a></td>
                                                <td><a href="https://www.instagram.com/p/B4_5U71lEJz/"><img src="https://scontent-icn1-1.cdninstagram.com/v/t51.2885-15/sh0.08/e35/p640x640/73407386_574128463390075_1323704938004681059_n.jpg?_nc_ht=scontent-icn1-1.cdninstagram.com&_nc_cat=107&oh=24ee03d5b630d6cdfcb327fb97f186ef&oe=5E6B661C"></a></td>
                                            </tr>
                                            <tr>
                                                <td><a href="https://www.instagram.com/p/B4-WK9QFiHW/"><img src="https://scontent-icn1-1.cdninstagram.com/v/t51.2885-15/sh0.08/e35/s750x750/73512714_485407455652282_8648843989860679428_n.jpg?_nc_ht=scontent-icn1-1.cdninstagram.com&_nc_cat=110&oh=3d5fa6afde40182b00d124d3b729a3fc&oe=5E69FD0E"></a></td>
                                                <td><a href="https://www.instagram.com/p/B498AnEgG5p/"><img src="https://scontent-icn1-1.cdninstagram.com/v/t51.2885-15/sh0.08/e35/s750x750/72242598_473027763343762_6862373443500964400_n.jpg?_nc_ht=scontent-icn1-1.cdninstagram.com&_nc_cat=110&oh=841c60e25b8635ad5fbbc510904d9d68&oe=5E8B1031"></a></td>
                                                <td><a href="https://www.instagram.com/p/B4qt9PzHVJk/"><img src="https://scontent-icn1-1.cdninstagram.com/v/t51.2885-15/sh0.08/e35/s750x750/75360973_2347607988790121_5088230190642796597_n.jpg?_nc_ht=scontent-icn1-1.cdninstagram.com&_nc_cat=105&oh=276dfbce726b51933f49e2380efce2c2&oe=5E574C06"></a></td>
                                            </tr>
                                            <tr>
                                                <td><a href="https://www.instagram.com/p/B4hyjkLFXLr/" target="_blank"><img src="https://instagram.ficn1-1.fna.fbcdn.net/vp/59a2e120079453fe765117dad94972d2/5E897D73/t51.2885-15/e35/44470663_1908152795971253_2862110816604012652_n.jpg?_nc_ht=instagram.ficn1-1.fna.fbcdn.net&_nc_cat=105"></a></td>
                                                <td><a href="https://www.instagram.com/p/B4ceP0JBIlu/"><img src="https://scontent-icn1-1.cdninstagram.com/v/t51.2885-15/sh0.08/e35/s750x750/73414940_441457163172985_903214265719890579_n.jpg?_nc_ht=scontent-icn1-1.cdninstagram.com&_nc_cat=101&oh=16a18d654601cdc2b8a6eff1de18b978&oe=5E69586D"></a></td>
                                                <td><a href="https://www.instagram.com/p/B4Ss88Ag0yp/"><img src="https://scontent-icn1-1.cdninstagram.com/v/t51.2885-15/sh0.08/e35/s750x750/73521753_491143724814187_7156029251463326971_n.jpg?_nc_ht=scontent-icn1-1.cdninstagram.com&_nc_cat=107&oh=cc7f33004f732991bd28381d9400854d&oe=5E8246CD"></a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </section>

				</section>
		</div>

		<!-- Scripts -->
			<script src="./gotrip/js/jquery.min.js"></script>
			<script src="./gotrip/js/jquery.poptrox.min.js"></script>
			<script src="./gotrip/js/jquery.scrolly.min.js"></script>
			<script src="./gotrip/js/skel.min.js"></script>
			<script src="./gotrip/js/util.js"></script>
			<script src="./gotrip/js/main.js"></script>

	</body>
</html>